#login_view{
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 5px 30px rgb(138, 137, 137);
}
#fundo{
    background-color: rgb(176, 221, 252);

}