<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckList</title>
    <link rel="stylesheet" href="assets/css/css.css">
</head>

<body>
    <div class="container">
<div class = "topper">
            <img src="assets/img/logo1.png" class="img-fluid" alt="...">
</div
    <main>
			<h1>OrganizAí</h1>
			<br>
<p>O aplicativo OrganizAí foi organizado para ajudar você que não gosta de esquecer nada no seu dia a dia, sabemos que seu dia anda muito corrido.</p>
<p>Então nos use e abuse, crie suas listas de tarefas do dia, do mes, de alguma viagem, mercado, ou qualquer outra coisa que você imaginar.</p>
<p>Gostou? então compartilhe com os amigos, parentes, suas listas criadas.</p>

            </div>
        </section>
    </main>
</body>

</html>