<?php include_once "../fachada.php";?>
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/363bd6cb5f.js" crossorigin="anonymous"></script>

    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class = "topper">
            <img src="assets/img/logo1.png" class="img-fluid" alt="...">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><i class="fas fa-bars"></i></button>
        </div>
      
        <div class="container">

          <form class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-12">
              <label class="visually-hidden" for="inlineFormInputGroupUsername">...</label>
              <div class="input-group">
                <div class="input-group-text">Titulo da Lista</div>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="...">
              </div>
            </div>
          
            <div class="col-12">
              <label class="visually-hidden" for="inlineFormSelectPref">Tipo da lista</label>
              <select class="form-select" id="inlineFormSelectPref">
                <option selected>Selecione</option>
                <option value="1">Compras</option>
                <option value="2">Rotina Diária</option>
                <option value="3">Outros</option>
              </select>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Nova tarefa" aria-label="Recipient's username with two button addons">
              <button class="btn btn-outline-secondary" type="button">Adicionar</button>
              <button class="btn btn-outline-secondary" type="button">Excluir</button>
            </div>
          
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Salvar</button>
              <button type="submit" class="btn btn-outline-secondary">Editar</button>
              <button type="submit" class="btn btn-danger">Excluir</button>
            </div>
          </form>
       
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
          
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">Menu de Opções</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
            <div class="offcanvas-body">
              <div class="btn-group-vertical">
                <div class="d-grid gap-2">
				          <a href="checklist.php" button type="button" class="btn btn-outline-secondary">Criar Nova Lista</button></a>
                  <button type="button" class="btn btn-outline-secondary" href="checklist_view.php">Listas Disponíves</button>
                  <a href="help.php" button type="button" class="btn btn-outline-secondary">Sobre nós</button></a>
                  <button type="button" class="btn btn-outline-secondary">Sair</button>
                </div>
              </div>
            </div>
          </div>

    </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>